<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="col-md-2 column" th:fragment="leftmenu">
    <div class="panel-group" id="panel-594187">
        <div class="panel panel-default" th:each="m : ${menu}">
            <div class="panel-heading" th:if="${m.title} ne ${pageTitle}">
                <a th:text="${m.title}" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-826081'+${m.id}">用 户 管 理</a>
            </div>
            <div  th:if="${m.title} ne ${pageTitle}" th:id="'panel-element-826081'+${m.id}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                </div>
            </div>

            <div class="panel-heading" th:unless="${m.title} ne ${pageTitle}">
                <a th:text="${m.title}" class="panel-title" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-792346'+${m.id}" aria-expanded="true">权 限 管 理</a>
            </div>
            <div th:unless="${m.title} ne ${pageTitle}" th:id="'panel-element-792346'+${m.id}" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

