<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body style="height: 100%; margin: 0">

<div class="container" style="height: 100%">
    <div class="row clearfix" style="height: 100%">
        <div class="col-md-12 column" style="height: 100%">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">木叶教办</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" th:each="cookie :${#httpServletRequest.getCookies()}"
                                  th:if="${cookie.getName().equals('name')}"
                                  th:text="${cookie.getValue()}+'，您好'"></a>
                        </li>
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;登出</a>
                        </li>
                        <li>
                            <a href="/changePwd">修改密码</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="row clearfix" style="height: 100%">
                <div class="col-md-2 column">
                    <div class="panel-group" id="panel-594187">
                        <div class="panel panel-default" th:each="m : ${menu}">
                            <div class="panel-heading">
                                <a th:text="${m.title}" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-826081'+${m.id}">用 户 管 理</a>
                            </div>
                            <div th:id="'panel-element-826081'+${m.id}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 column" style="height: 100%">
                    <!--<h3>欢迎使用木叶教办后台！</h3>-->
                    <!--<img src="./imgs/wellcome.jpeg">-->
                    <input type="hidden" id="gradeClassesId" th:value="${gradeClassesId}"/>
                    <input type="hidden" id="subjectId" th:value="${subjectId}"/>
                    <div id="container" style="height: 300px">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">

    option = null;
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
//            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
            data: ['优', '错误多', '未完成','缺交作业']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value'
        },
        yAxis: {
            type: 'category',
//            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            data: []
        },
        series: [
            {
                name: '优',
                type: 'bar',
                stack: '总量',
                color: '#80ff80',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [320, 302, 301]
            },
            {
                name: '错误多',
                type: 'bar',
                stack: '总量',
                color: '#ff6666',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [120, 132, 101]
            },
            {
                name: '未完成',
                type: 'bar',
                stack: '总量',
                color: '#ffff80',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [220, 182, 191]
            },
            {
                name: '缺交作业',
                type: 'bar',
                stack: '总量',
                color: '#ffa64d',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [220, 182, 191]
            }
        ]
    };;
//    if (option && typeof option === "object") {
//        myChart.setOption(option, true);
//    }

    window.onload = function(){
        $.ajax({
            url: "/statistical/getChart",
            method: "get",
            data: {
                gradeClassesId:$("#gradeClassesId").val(),
                subjectId:$("#subjectId").val()
            },
            success: function(result){
                if(result.status == 1){
                    $("#container").height(result.data.length*30+80);

                    option.yAxis.data = [];
                    option.series[0].data = [];
                    option.series[1].data = [];
                    option.series[2].data = [];
                    option.series[3].data = [];
                    for(var i = 0;i<result.data.length;i++){
                        option.yAxis.data.push(result.data[i].name);
                        option.series[0].data.push(result.data[i].you);
                        option.series[1].data.push(result.data[i].cuowuduo);
                        option.series[2].data.push(result.data[i].weiwancheng);
                        option.series[3].data.push(result.data[i].weijiao);
                    }
//                    alert(result.message);
//                    option.legend.data = [];
//                    window.location.href = 'getHomeworkList';
                    var dom = document.getElementById("container");
                    var myChart = echarts.init(dom);
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                }else{
                    alert(result.message);
                }
            }
        });
    }
</script>
</body>
</html>